@import url("fonts.css");
section {
	margin:10px;
}
body > header {
	margin:10px;
	font-family: SansitaOne;
	font-size: 20px;
	color: white;
	text-align: center;
	height: 500px;
	line-height:500px;
	background-image: url(../img/titleback.jpg);
	background-position: bottom;
	background-size: cover; 

	border:1px solid gray;
	padding:8px;
	
	opacity: 0.5;
	
}

#select_section {
	font-family: SansitaOne;
	background-color: pink;
	border:1px solid #FFB0F3;
	padding:10px;
}

#information_section{
	padding:8px;
	font-family: SansitaOne;
	border:3px dashed black;	
}

#select_intro {
	vertical-align:top;
}

#success{
	color:red;
	display:inline;
}